/* 
Theme Name: Pet Feliz
Theme URI: www.petfeliz.com
Author: Leonardo, Tatiane e Karina
Author URI: www.injunior.com
Description: Esse tema foi criado por alunos do ps 2020.2
Version: 1.0
*/

/* Sobre */

#imagen-texto-sobre img{
  height: 350px; width: 250px;
}
#sobre{
  margin: 60px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
#imagen-texto-sobre{
  display: flex;
  justify-content: center;
}
#texto-links{
  padding: 10px;
  height: 350px;
  margin-left: 80px;
}
#texto-links p{
  width: 350px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#texto-links h2{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bolder;
}

/* Produtos */
.produtos{
  margin: 20px auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.produtos h2 a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}
.titulo-produtos{
  width: 150px;
}
.produtos p{
  width: 300px;
}
.produtos p img{
  margin-top: 20px;
}
.produtos h2{
  margin: auto 0px;
}
.paginacao{
  text-align: center;
  font-size: 1.4rem;
}

/* Single Produtos */
.card{
  margin: 30px auto;
  text-align: center;
}
.card h1{
  margin: 20px;
  font-size: 2rem;
  font-weight: bolder;
}
.card p{
  margin: 30px auto;
  width: 750px;
}
.card p img{
  margin-top: 30px;
}
.links-produtos h2 a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}



/*Sessão 1*/

.teste{
    background: url(img/cao1.jpg) center;
}

.header {
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 10;
}

body{
    font-family: Georgia;
}

.sessao1{
    max-width: 100%;
    margin: 0 auto;
    
}


.menu-logo{
    margin: 0 10px;
}

.header_menu{
    flex: 1;
    align-self:center;
    margin: 0 10px;
}

.header_menu a{
    text-decoration: none;
    color: rgb(80, 75, 8);
    font-size: 20px;
    text-shadow: 10px;

}

.header_menu ul{
    float: right;
    display: flex;
    list-style: none;
    
}

.header_menu ul li a{
    padding: 20px;
    font-weight: bold;
}

li a:hover{
    text-decoration:none;
    font-size: 40px;
}

.introducao{
    width: 100%;
    height: 380px;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}

.tema{
    text-transform: uppercase;
    font-size: 75px;
    font-family: Georgia;
    color: rgb(80, 75, 8);
    font-weight: bold;
}

.introducao p {
    color: whitesmoke;
    font-style: italic;
    font-size: 25px;
}

/*Sessão2*/

.Sobre {
    text-align: center;
    font-size: 20px;
    color: rgb(68, 50, 11);
    text-decoration: none;
    width: 450px;
    padding: 30px 0;
    margin: 60px auto 60px auto;
    
}

.Sobre p{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.Sobrepetshop{
    text-decoration: none;
    color: rgb(68, 50, 11);
    width: 180px;
    font-size: 35px;
    font-weight: bold;
    font-family: georgia;
}

/*.Sobrepetshop:after {
content: "";
display: block;
width: 60px;
height: 2px;
background:  rgb(68, 50, 11);
margin: 20px auto;
}*/


.tema:before{
content: "";
display: block;
width: 480px;
height: 3px;
background: whitesmoke;
margin: 0 auto;
}

.tema:after{
content: "";
display: block;
width: 480px;
height: 3px;
background: whitesmoke;
margin: 0 auto;
}

/*Sessão3*/

.Sobresobre{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: rgb(68, 50, 11);
    font-weight: bold;
    font-family: georgia;
    padding: 25px;
}

.fotos_linha{
    width: 17rem;
    height: 17rem;
    
    border-radius: 100%;
    margin:  1.3rem auto 1.3rem auto;
    overflow: hidden;
    position: relative;
}

.fotos_linha img{
    width: initial;
    height: inherit;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.fotos{
    display: flex;
    max-width: 100%;
    font-weight: 200;
    padding: 20px; 
}

h3{
    line-height: 20px;
    background:  rgb(68, 50, 11);
    color: whitesmoke;
    text-align: center;
    width: 220px;
    padding: 10px 0 10px 0;
    top: -25px;
    padding: 40px;
}

/*Sessao4 */


.noticias ul li{
    font-size: 20px;
    text-align: left;
    list-style-type: circle;
    padding: 10px;
    margin: 10px;
}   

/*footer*/

.footer{
    width: 100%;
    background: rgb(48, 16, 16);
    color: wheat;
    padding: 30px 0;
    font-family: georgia;
}

.footer_contato h2:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: wheat;
    
    margin-top: 5px;
    
    }
.footer_contato li{
        list-style: none;
        text-align: left;
        margin: 10px;
        color: white
    }

/*.footer_contato{
    text-align: left;
    margin-left: 20px;
}*/

.footer_contato h2{
    text-align: left;
    margin-left: 20px;
    
}
.copy{
    width: 100%;
    background: rgb(31, 27, 27);
    padding: 20px 0;
    color: whitesmoke;
}
.direitos{
    text-align: center;
}

.footer_footer{
    display: flex;
    
}

.historia h2{
    padding: 0 20px 0 60px;
    margin: 20px;
    color: wheat;
    font-family: Georgia;
}
.historia p{
    padding: 0 20px 0 60px;
    margin: 20px;
    color: whitesmoke 
}

.historia h2:after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: wheat;
    margin-top: 5px;
}

/*Estilo Página Contato*/

.styleform{
  width: 1000px;
  height: 600px;
}

.titlecontact{
 margin-left: 320px;
  font-size: 28px;
  font-weight: bold;
}

/*Estilo Página Noticia*/

.stylenoticia{
  margin-top: 10px;
  margin-left: 600px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.stylesearch{
  font-size: 18px;
  width: 400px;
  height: 100px;
  margin-top: 10px;
  margin-left: 600px;
  margin-bottom: 20px;

}

.style_pag{
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 15px;
}

#noticia_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card{
  margin: 0 auto;
  width: 1000px;
  height: 650px;
  background-color:#DDE0E4;
  margin-bottom: 20px;
  border-radius: 10px;
}

.style_noticiabox{
  width: 950px;
  height: 600px;
}
.style_noticiabox h2{
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.style_noticiabox p{
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.styledate{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-style: oblique;
  margin-bottom: 5px;

}

.stylelink{
  padding-left: 20px;
  margin-top: 20px;
}

/*Estilo Página Single Noticia*/

.styletitlesingle{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.containermaisnoticias h1{
  font-size: 18px;
  font-weight: bold;
}
.containermaisnoticias{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 220px;
  margin-bottom: 20px;
}